button.primary {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    margin-right: 1rem;
    border: none;
    background: transparent;
    outline: none;
}

button.flat {
    background: transparent;
}

button.raised {
    background-color: #510674;
    border: 1px solid #510674;
}

button.stroked {
    border: 1px solid #40005d;
}
